.home {
  margin-top: 82px;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 96px;
  padding-right: 96px;
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 16px;
  font-family: var(--font-inter);
}
