.button {
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-family: var(--font-inter);
  font-size: 16px;
  color: var(--text-color);
  transition: all 0.2s ease-out;

  &:hover,
  &:active {
    background-color: #5c5a58;
  }
}
