@use 'sass:color';

// Colors
$color-white: #fff;
$color-black: #000;

$color-bg: #111;

$color-transperent: rgba(255, 255, 255, 0);
$color-white-transperent: rgba(255, 255, 255, 0.6);
$color-black-transperent: rgba(0, 0, 0, 0.6);
$color-green-transperent: rgba(64, 181, 173, 0.6);

$color-gray: #bbb;
$color-gray-dark: #999;
$color-btn: #eeeeee;
$color-green: #53c28b;
$color-green-dark: #53c28b70;
$color-main: #f5da5a;
$color-accent: #5983d5;
$color-muted: color.adjust($color-main, $lightness: 20%);
$color-border: #ccc;
