// _theme.scss
@use './colors' as colors;

:root {
  /* Светлая тема по умолчанию */
  --bg-color: #ffffff;
  --text-color: #21201f;
  --primary-color: #d90007;
  --btn-color: #eeeeed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #191918;
    --text-color: #dfdedb;
    --primary-color: #d90007;
    --btn-color: #2f2f2e;
  }
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
