.search {
  position: relative;
  margin-left: 8px;
  width: 100%;
  max-width: 400px;
}

.searchSvg {
  width: 34px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  flex-shrink: 0;
  fill: #ffffff;
}

.crossSvg {
  width: 40px;

  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.crossInner {
  width: 24px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: #878684;
  transition: fill 0.2s ease;

  stroke: #2f2f2e;
  // background-color: #878684;
  // border-radius: 100px;

  &:hover {
    fill: #dfdedb;
  }
}

.inputWrapper {
  position: relative;
  display: flex;
  height: 48px;
  width: 100%;
  max-width: 400px;
  background-color: #2f2f2e;
  border-radius: 100px;
}

.input {
  position: relative;
  width: 100%;
  padding-left: 8px;
  padding-right: 50px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  font-family: inherit;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  border-radius: 0 100px 100px 0;
  outline: none;
  box-shadow: none;
}

.suggestion {
  position: absolute;
  top: 51%;
  left: 42px;
  font-size: 13px;
  line-height: 13px;
  font-weight: 400;
  font-family: inherit;
  transform: translateY(-50%);
  pointer-events: none;
  color: #a8a4a2; // цвет подсказки
  white-space: nowrap;
}

.searchItems {
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;
  top: 56px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  background-color: #191918;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
  border-radius: 24px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.searchItem {
  padding: 8px 16px 8px 24px;
  text-align: left;
  cursor: pointer;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  &:hover {
    background-color: #302f2d;
  }
}
