.search {
  display: flex;
  margin-left: 8px;
  position: relative;
  height: 48px;
  width: 100%;
  max-width: 400px;
  background-color: #2f2f2e;
  border-radius: 100px;
}

.searchSvg {
  width: 34px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  fill: #ffffff;
}

.input {
  width: 100%;
  padding-left: 8px;
  padding-right: 30px;
  color: var(--text-color);
  background-color: transparent;
  border: none;
  border-radius: 0 100px 100px 0;
  outline: none;
  box-shadow: none;
  text-overflow: ellipsis;
  overflow: hidden;
}
