.home {
  margin-top: 82px;
}

.container {
  margin: 0 auto;
  max-width: 1500px;
  padding-left: 96px;
  padding-right: 96px;
}

.title {
  font-size: 28px;
  font-weight: 800;
  margin-bottom: 16px;
}

.nav {
  padding: 8px;
  border-radius: 22px;
  margin-bottom: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #302f2d;
}

.navList {
  display: flex;
  flex-wrap: nowrap;
  list-style-type: none;
}

.navtItem {
  font-size: 16px;
}

.navLink {
  line-height: 48px;
  height: 100%;
  padding: 0 18px;
  border-radius: 16px;
  display: block;
  transition: background-color 0.2s ease;
  color: var(--text-color);
}

.filterBtn {
  padding: 10px 16px 10px 16px;
  display: flex;
  align-items: center;
  background-color: rgb(35 35 33 / 0%);
  border-radius: 16px;
}

.filterSvg {
  margin-right: 6px;
  fill: #ffffff;
}

.items {
  padding-top: 16px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -12px;
  margin-right: -12px;
  margin-bottom: -32px;
}

.item {
  width: 25%;

  padding-left: 12px;
  padding-right: 12px;
  margin-bottom: 32px;
}

.itemInner {
  background-color: #232321;
  border-radius: 16px;
}

.itemImgWrapper {
  position: relative;
  margin-bottom: 8px;
  border-radius: 8px;

  aspect-ratio: 1.6;
}

.itemAvatar {
  position: absolute;
  border-radius: 16px;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.itemImg {
  padding: 8px;
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  opacity: 1;
  border-radius: 16px;
  pointer-events: none;
}

.itemCounter {
  position: absolute;
  right: 6px;
  bottom: 6px;
  font-size: 16px;
  background-color: #232321;
  padding: 12px 18px 12px 22px;
  border-top-left-radius: 16px;
  font-weight: 700;
}

.itemBookmark {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  background-color: rgb(35 35 33 / 50%);
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  &:hover {
    background-color: rgb(35 35 33 / 80%);
  }
}

.itemBookmarkSvg {
  fill: none;
  stroke: white;
}

.itemMiddle {
  padding-left: 16px;
  padding-right: 16px;
}

.itemName {
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.itemInfo {
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.itemWeight {
  font-size: 12px;
  font-weight: 500;
  color: #9e9b98;
}

.itemBtnWrapper {
  padding: 16px;
}

.itemBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-radius: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: var(--btn-color);
  font-size: 24px;
  font-weight: 500;
}

.itemPrice {
  font-size: 16px;
}

.itemMinus {
  visibility: hidden;
  padding-left: 32px;
}

.itemPlus {
  padding-right: 32px;
}
