.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 24px;
  transition: box-shadow 0.2s ease, background-color 0.2s ease;
  z-index: 100;
  will-change: transform;
  font-family: var(--font-inter);
  background-color: var(--bg-color);
  color: var(--text-color);
  box-shadow: none;
}

.header.scrolled {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}

.container {
  height: 72px;
}

.left {
  width: 100%;
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

.logo {
  padding-top: 8px;
  margin-right: 32px;
  display: flex;
  fill: var(--text-color);
  outline: none;
}

.center {
  width: 100%;
  margin-left: 8px;
  margin-right: 24px;
  display: flex;
  align-items: center;
}

.address {
  display: flex;
  margin-left: 16px;
  max-width: 400px;
  border-radius: 16px;
}

.location {
  border-right: 1px solid var(--border-color);
}

.locationSetBtn {
  display: flex;
  align-items: center;
  margin-right: 4px;
  width: 100%;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 100px;
  background-color: var(--btn-color);
  fill: var(--text-color);
}

.locationNav {
  margin-right: 4px;
  fill: var(--text-color);
  stroke: var(--text-color);
}

.locationText {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
}

.locationBtn {
  display: flex;
  align-items: center;
  margin-right: 4px;
  width: 100%;
  height: 48px;
  padding-left: 14px;
  padding-right: 14px;
  border-radius: 100px 0 0 100px;
  background-color: var(--btn-color);
  fill: var(--text-color);
}

.locationSvg {
  margin-right: 4px;
}

.timeBtn {
  display: flex;
  align-items: center;
  height: 48px;
  padding-left: 10px;
  padding-right: 14px;
  border-radius: 0 100px 100px 0;
  background-color: var(--btn-color);
  fill: var(--text-color);
}

.timeSvg {
  margin-right: 4px;
}

.cartBtn {
  margin-left: 8px;
  height: 48px;
  padding-left: 18px;
  padding-right: 18px;
  display: flex;
  align-items: center;
  background-color: #d90007;
  border-radius: 100px;
}

.cartSvg {
  fill: #fff;
  margin-right: 4px;
}

.cartText {
  font-size: 16px;
  font-weight: 500;
  font-family: var(--font-inter);
}

.auth {
  height: 48px;
  margin-left: 16px;
  padding-left: 26px;
  padding-right: 26px;
  border-radius: 16px;
  font-size: 16px;
  font-family: var(--font-inter);
  background-color: var(--btn-color);
}
