.langWrapper {
  position: relative;
  display: inline-block;
}

.langWrapper:hover .popupWrapper {
  opacity: 1;
}

.langBtn {
  display: flex;
  padding: 12px 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  fill: var(--text-color);

  &:hover,
  &:active {
    fill: #7d7c7a;
    background-color: transparent !important;
  }
}

.popupWrapper {
  position: absolute;
  width: max-content;
  padding: 16px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 16px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}

.popupText {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.popupSvg {
  position: absolute;
  left: 50%;
  bottom: 100%;
  transform: translateX(-50%);
  fill: #ffffff;
}

.langOptions {
  position: absolute;
  width: 240px;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  list-style-type: none;
  border-radius: 16px;
  background-color: #191918;

  opacity: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  pointer-events: none;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 12px;

  &.open {
    opacity: 1;
    pointer-events: auto;
  }

  & li:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  & li:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.langOption {
  width: 100%;
  padding: 16px 12px 16px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  border: none;
  color: #e0deda;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0;
  transition: all 0.2s ease;

  &:hover {
    background-color: #2f2f2e;
  }

  &:first-child {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  &:last-child {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 100px;
}

.checkSvg {
  stroke: black;
}
